<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Appointments</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

<!-- Navbar Fragment -->
<nav class="navbar">
    <div class="navcontainer">
        <div class="logo">
            <a th:href="@{/}"><img th:src="@{/images/logo.png}" alt="Logo"></a>
        </div>

        <ul class="nav-links">
            <li><a href="/about-us" th:href="@{/about}">About Us</a></li>
            <li><a href="/contact" th:href="@{/contact}">Contact</a></li>
            <li><a href="/appointments" th:href="@{/appointment/{username}(username=${username})}">Appointments</a></li>

            <!-- Search Box -->
            <form class="search-box" action="/search" method="get">
                <input type="text" name="query" placeholder="Search...">
                <button type="submit">Search</button>
            </form>


            <span th:if="${username != null and username != 'admin'}">
                <li><a href="/">Welcome, <strong th:text="${username}"> </strong></a></li></span>
            <span th:if="${username != null and username != 'admin'}">
                <li><a href="/">Logout</a></li></span>
            <span th:if="${username == 'admin' or username == null}">
                <li><a href="/loginpage" th:href="@{/loginpage}">Login</a></li></span>
            <span th:if="${username == 'admin' or username == null}">
                <li><a href="/register" th:href="@{/register}">Register</a></li></span>

        </ul>


    </div>
</nav>
<main>
<div class="container">
    <h1>Book Appointments</h1>
    <form  th:action="@{/appointment/save}" th:object="${appointment}" method="post" class="form-group">
        <label for="clientname">Full Name</label>
        <input type="text" id="clientname" th:field="*{clientname}" required/>

        <div class="form-group">
            <label for="clientid">User ID</label>
            <input type="text" id="clientid" th:field="*{clientid}" required>
        </div>

        <div class="form-group">
            <label for="appointmentwith">Appointment</label>
            <select id="appointmentwith" th:field="*{appointmentwith}" required>
                <option value="pickone">Pick One</option>
                <option value="Sarah">Sarah</option>
                <option value="Shannon">Shannon</option>
                <option value="Surbhi">Surbhi</option>
                <option value="Stella">Stella</option>
            </select>
        </div>

        <div class="form-group">
            <label for="appointmenttype">Service</label>
            <select id="appointmenttype" th:field="*{type}" required>
                <option value="chooseone">Pick One</option>
                <option value="Counselor">Counselor</option>
                <option value="Attorney">Attorney</option>
                <option value="Guidance">Guidance</option>
                <option value="Academic">Academic</option>
            </select>
        </div>



        <div class="form-group">
            <label for="date">Select Date (Business Days Only)</label>
            <input type="date" id="date" th:field="*{date}" required>
        </div>

        <div class="form-group">
            <label for="time">Select Time (8 AM to 6 PM)</label>
            <input type="time" id="time" th:field="*{time}" min="08:00" max="18:00" required>
        </div>

        <button type="submit" class="submit-button">Book Appointment</button>
    </form>
    <p id="responseMessage"></p>
</div>
</main>
</body>
</html>
