<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Appointments</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>
<body class="dark-theme">


<!-- Navbar Fragment -->
<nav class="navbar">
    <div class="navcontainer">
        <ul class="nav-links">

            <div class="logo">
                <a th:href="@{/{username}(username=${username})}"><img th:src="@{/images/logo.png}" alt="Logo"></a>
            </div></li>
            <li><h2>Healing Hearts</h2></li>
            <li>
        </ul>

        <ul class="nav-links">
            <li><a th:href="@{/about/{username}(username=${username})}">About Us</a></li>
            <li><a th:href="@{/contact/{username}(username=${username})}">Contact</a></li>
            <li><a th:href="@{/merchandise/{username}(username=${username})}">Shop</a></li>
            <li><a th:href="@{/appointment/{username}(username=${username})}">Appointments</a></li>

            <!-- Search Box -->
            <form class="search-box" action="/search" method="get">
                <input type="text" name="query" placeholder="Search...">
                <button type="submit">Search</button>
            </form>


            <span th:if="${username != null and username != 'admin'}">
                <li><a href="/">Welcome, <strong th:text="${username}"> </strong></a></li></span>
            <span th:if="${username != null and username != 'admin'}">
                <li><a href="/">Logout</a></li></span>
            <span th:if="${username == 'admin' or username == null}">
                <li><a href="/loginpage" th:href="@{/loginpage}">Login</a></li></span>
            <span th:if="${username == 'admin' or username == null}">
                <li><a href="/register" th:href="@{/register}">Register</a></li></span>

        </ul>


    </div>
</nav>
<main>
<div class="container" style="margin-top: 5rem;">
    <h1>Appointments List</h1>

    <div class="appointment-grid">
        <h1><span th:text="${appointmentWith}"></span></h1>

        <div th:each="appointment : ${appointment}" class="appointment-card">
            <div class="appointment-details">
                <p><strong>Type: </strong><span th:text=" ${appointment.type}">Type</span></p>
                <p><strong>Time: </strong><span th:text=" ${appointment.date} + ' at ' +${appointment.time}">Time</span></p>
                <p><strong>Client: </strong><span th:text=" ${appointment.clientname}">With</span></p>
                <br>
            </div>

        </div>


    </div>



</div>
</main>
<!-- Footer Section -->
<footer>
    <div class="footer-container">
        <ul class="social-links">
            <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
            <li><a href="https://www.twitter.com" target="_blank">Twitter</a></li>
            <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
        </ul>
        <p>© 2024 Healing Hearts | <a href="/privacy">Privacy Notice</a></p>
    </div>
</footer>
</body>
</html>