<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cart</title>
  <link rel="stylesheet" th:href="@{/css/about.css}" />
</head>
<body>


<!-- Navbar Fragment -->
<nav class="navbar">
  <div class="navcontainer">
    <ul class="nav-links">

      <div class="logo">
        <a th:href="@{/{username}(username=${username})}"><img th:src="@{/images/logo.png}" alt="Logo"></a>
      </div></li>
      <li><h2>Healing Hearts</h2></li>
      <li>
    </ul>

    <ul class="nav-links">
      <li><a th:href="@{/about/{username}(username=${username})}">About Us</a></li>
      <li><a th:href="@{/contact/{username}(username=${username})}">Contact</a></li>
      <li><a th:href="@{/merchandise/{username}(username=${username})}">Shop</a></li>
      <li><a th:href="@{/appointment/{username}(username=${username})}">Appointments</a></li>

      <!-- Search Box -->
      <form class="search-box" action="/search" method="get">
        <input type="text" name="query" placeholder="Search...">
        <button type="submit">Search</button>
      </form>


      <span th:if="${username != null and username != 'admin'}">
                <li><a href="/">Welcome, <strong th:text="${username}"> </strong></a></li></span>
      <span th:if="${username != null and username != 'admin'}">
                <li><a href="/">Logout</a></li></span>
      <span th:if="${username == 'admin' or username == null}">
                <li><a href="/loginpage" th:href="@{/loginpage}">Login</a></li></span>
      <span th:if="${username == 'admin' or username == null}">
                <li><a href="/register" th:href="@{/register}">Register</a></li></span>

    </ul>


  </div>
</nav>

<main>

</main>
<!-- Footer Section -->
<footer>
  <div class="footer-container">
    <ul class="social-links">
      <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
      <li><a href="https://www.twitter.com" target="_blank">Twitter</a></li>
      <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
    </ul>
    <p>© 2024 Healing Hearts | <a href="/privacy">Privacy Notice</a></p>
  </div>
</footer>
</body>
</html>
