<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>
<body>

<!-- Navbar Fragment -->
<nav class="navbar">
    <div class="navcontainer">
        <div class="logo">
            <a th:href="@{/}"><img th:src="@{/images/logo.png}" alt="Logo"></a>
        </div>

        <ul class="nav-links">
            <li><a href="/about-us" th:href="@{/about}">About Us</a></li>
            <li><a href="/contact" th:href="@{/contact}">Contact</a></li>
            <li><a href="/appointments" th:href="@{/appointment/{username}(username=${username})}">Appointments</a></li>

            <!-- Search Box -->
            <form class="search-box" action="/search" method="get">
                <input type="text" name="query" placeholder="Search...">
                <button type="submit">Search</button>
            </form>


            <span th:if="${username != null and username != 'admin'}">
                <li><a href="/">Welcome, <strong th:text="${username}"> </strong></a></li></span>
            <span th:if="${username != null and username != 'admin'}">
                <li><a href="/">Logout</a></li></span>
            <span th:if="${username == 'admin' or username == null}">
                <li><a href="/loginpage" th:href="@{/loginpage}">Login</a></li></span>
            <span th:if="${username == 'admin' or username == null}">
                <li><a href="/register" th:href="@{/register}">Register</a></li></span>

        </ul>


    </div>
</nav>

<main>
    <div class="container">
        <h2>Login</h2>
        <form action="#" th:action="@{/loginpage}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br><br>
            </div>
            <button class="add-button" type="submit">Login</button>

        </form>
        <a th:href="@{/register}"><button class="edit-button">Register</button></a>

        <div th:if="${errorMessage}">
            <p th:text="${errorMessage}"></p>
        </div>
    </div>
</main>
<!-- Footer Section -->
<footer>
    <div class="footer-container">
        <ul class="social-links">
            <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
            <li><a href="https://www.twitter.com" target="_blank">Twitter</a></li>
            <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
        </ul>
        <p>© 2024 Healing Hearts | <a href="/privacy">Privacy Notice</a></p>
    </div>
</footer>
</body>
</html>
