<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Register</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
  <style>
    .error-message {
      color: #f0ad4e;
      font-size: 12px;
      margin-top: -15px;
      margin-bottom: 10px;
      display: none;
    }
  </style>

</head>
<body>

<!-- Navbar Fragment -->
<nav class="navbar">
  <div class="navcontainer">
    <div class="logo">
      <a th:href="@{/}"><img th:src="@{/images/logo.png}" alt="Logo"></a>
    </div>

    <ul class="nav-links">
      <li><a href="/about-us" th:href="@{/about}">About Us</a></li>
      <li><a href="/contact" th:href="@{/contact}">Contact</a></li>
      <li><a href="/appointments" th:href="@{/appointment/{username}(username=${username})}">Appointments</a></li>

      <!-- Search Box -->
      <form class="search-box" action="/search" method="get">
        <input type="text" name="query" placeholder="Search...">
        <button type="submit">Search</button>
      </form>


      <span th:if="${username != null and username != 'admin'}">
                <li><a href="/">Welcome, <strong th:text="${username}"> </strong></a></li></span>
      <span th:if="${username != null and username != 'admin'}">
                <li><a href="/">Logout</a></li></span>
      <span th:if="${username == 'admin' or username == null}">
                <li><a href="/loginpage" th:href="@{/loginpage}">Login</a></li></span>
      <span th:if="${username == 'admin' or username == null}">
                <li><a href="/register" th:href="@{/register}">Register</a></li></span>

    </ul>


  </div>
</nav>
<main>
<div class="container">
  <h2>Register</h2>
  <form id="signupForm" action="#" th:action="@{/register}" th:object="${user}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" th:field="*{username}" required><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" required><br><br>
    <div class="error-message" id="passwordError">Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, and one digit.</div>


    <br>

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required><br><br>
    <div class="error-message" id="emailError">Please enter a valid email address.</div>

    <button class="add-button"  type="submit">Register</button>
  </form>
  <a th:href="@{/loginpage}"><button class="edit-button">Login Page</button></a>

  <div th:if="${successMessage}">
    <p th:text="${successMessage}"></p>
  </div>
</div>

<script src="../js/validation.js"></script>
</main>
</body>
</html>
